<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://images.idgesg.net/images/article/2019/05/java_binary_code_gears_programming_coding_development_by_bluebay2014_gettyimages-1040871468_2400x1600-100795798-large.jpg?auto=webp&quality=85,70"
      cardTitle="Java the dark side of the force"
      cardDescription="One of the best pragmatism languages ​​with wide variety of vacancies in the market"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Handle exceptions correctly"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjwy3TaW8Ixej-sMei_s3tWD-U3Ykvk4iF4Q&usqp=CAU"
    ></app-small-card>
    <app-small-card
      Id="3"
      cardTitle="Main Staks to be a DevOps"
      photoCover="https://i.ytimg.com/vi/4NmfQ2qZZjM/mqdefault.jpg"
    ></app-small-card>
    <app-small-card
      Id="4"
      cardTitle="Microservices, the present and future of programming"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRqYrsPd0YvHv98PsYhWVCw77OzQHjonYgjA&usqp=CAU"
    ></app-small-card>
  </div>
</div>
